@import "tailwindcss";

@source "../**/*.{ts,tsx,js,jsx}";

@theme {
  --color-label: #8c8c8c;
  --color-title: #404040;
  --color-select: #e5e5e5;
  --color-divider: #e6e6e6;
  --color-value: #f5f5f5;
  --color-icon: #d9d9d9;
  --color-primary: #18a0fb;
  --color-hover: #f0f0f0;

  --font-size-h1: 16px;
  --font-size-h2: 12px;
}

@layer utilities {
  .text-label {
    color: var(--color-label) !important;
  }
  .text-title {
    color: var(--color-title) !important;
  }
  .ring-select {
    --tw-ring-color: var(--color-select) !important;
  }
  .bg-primary {
    background-color: var(--color-primary) !important;
  }
  .bg-hover {
    background-color: var(--color-hover) !important;
  }
  .text-h1 {
    font-size: var(--font-size-h1) !important;
    line-height: 1 !important;
  }
  .text-h2 {
    font-size: var(--font-size-h2) !important;
    line-height: 1 !important;
  }
  .text-white {
    color: #ffffff !important;
  }
  .hover\:bg-hover:hover {
    background-color: var(--color-hover) !important;
  }
  button {
    background-color: unset !important;
  }
  button:hover {
    background-color: unset !important;
  }
  button.cursor-pointer {
    cursor: pointer !important;
  }
}
